*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

header{
	background: url(../images/back2.jpeg);
	height: 110vh;
	background-size: cover;
	background-position: center;
}

nav > ul{
	display: flex;
	list-style-type: none;
}

nav > ul > li{
	margin: 0 20px;
	color: blue;
}

nav{
	height: 75px;
	border-bottom: 1px solid rgba(255,255,255,.5);
	display: flex;
	justify-content: center;
	align-items: center;

}



.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btn-product{
	background-color: salmon;
	font-size: 15px;
	font-weight: bold;
}

#petBtn{
	position: absolute;
	right: 100px;
	top: 20px;
	transition: .3s;
}

#petBtn:hover{
	top: 15px;

}
/*disappearing menu*/

.submenu{
	background-color: lightblue;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
	font-family: 'Open Sans', sans-serif;
}

.submenu > div{
	width: 25%;

}

div + div{
	border-left: 1px solid whitesmoke;

}

.submenu > div > h4, .submenu > div > p{
	margin: 10px 0;
	padding: 0 10px;
}


.submenu > div > p:hover {
	background-color: darkgray;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover{
	visibility: visible;
	cursor: pointer;
}

.header-text{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90vh;

}

.header-text > h1{
	font-size: 70px;
}

.header-text > div > .btn{
	margin-top: 20px;
	background-color: navy;
	color: white;
	margin-left: 50px;
}

.header-text > h1, .header-text > p, .header-text > button{
	margin-left: 50px;
}

/*end of css header*/

/*start of quote section*/
.quote{
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;

}

.quote > div{
	width: 50%;
	text-align: center;
}

.quote > div > div{
	text-align: center;
	margin-top: 20px;
}

.page3{
	height: 80vh;
	display: flex;
	border-bottom: 1px solid whitesmoke;
	justify-content: flex-end;
	align-items: center;
}


.page3 > section{
	width: 50%;
}

.section3-left{
	text-align: right;
}

.section3 > img{
	width: 550px;
	height: 300px;
}

.section3-right{
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.section3-right > div{
	height: 300px;
	padding-right: 50px;
}

.section3-right > div > div > p{
	color: darkblue;
	margin-bottom: 10px;
}

.section3-right > div > div > h2{
	font-size: 30px;
}

.bottom-content{
	display: flex;
}

.bottom-content > div{
	width: 50%;

}

.bottom-content > div > h1{
	font-size: 20;
	position: relative;
	bottom: 30px;
}

.bottom-content > div > p{
	font-size: 12;
	color: darkblue;
}